@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<CoreLibrary.Models.Writer>
@{
    ViewData["Title"] = "Index";
}

<h1>Writer List</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @{
        int sNumber = 0;
    }
    @foreach (var item in Model)
    {
        sNumber++;
        <tr>
            <td>@sNumber</td>
            <td>@item.Name</td>
            <td>
                <a href="/Writer/WriterRemove/@item.WriterId" class="btn btn-sm btn-danger">Remove</a>
                <a href="/Writer/WriterUpdate/@item.WriterId" class="btn btn-sm btn-warning">Update</a>
                <a href="/Writer/WriterBooks/@item.WriterId" class="btn btn-sm btn-primary">Books</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",
        new { Page = page }),
        new PagedListRenderOptions {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
    })
<br />
<a href="/Writer/WriterAdd/" class="btn btn-primary">New Writer</a>

